{% assign document = post | default: page %}
{% if document.read_time or document.date %}
  <p class="page__meta">
    {% if document.read_time %}
      <i class="far fa-clock" aria-hidden="true"></i>
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}
      {% if words < words_per_minute %}
        less than 1 min read
      {% elsif words == words_per_minute %}
        1 min read
      {% else %}
        {{ words | divided_by: words_per_minute }} min read
      {% endif %}
    {% endif %}
    {% if document.date %}
      • <i class="far fa-calendar-alt" aria-hidden="true"></i>
      {{ document.date | date: "%b %-d, %Y" }}
    {% endif %}
  </p>
{% endif %}
